{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80
      }
    }
  ],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true
}
